h1
{
	font: 4.5vh sans-serif;
}

p
{
	font: 1.9vh sans-serif;
	text-align: center;
}

div.container
{
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.item
{
	width: 50vw;
    height: 50vh;
}

p.center
{
	margin: 0 auto;
    max-width: 20vw;
	margin-top: 3vh;
}

input.search
{
	width: 50vw;
	margin-top: 2vh;
}